$layout-color: #B4BEC9;

div {
  
  nav {
    display: flex;
    align-items: center; 
    gap: 12px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;           

    background-color: $layout-color;
    width: 100%;

    
    & h1 {
      font-style: italic;
      margin: 0; 
    }
  }
}

.icons {
  width: 50px !important;
  height: 50px !important;
  margin-left: 12px; 
}
