$nav-color: #B4BEC9;

div {
  // O 'div' externo não precisa de flex, 
  // a menos que você queira centralizar a barra inteira
  // na página, o que é incomum.
  
  nav {
    display: flex;
    align-items: center; 
    gap: 12px;           

    background-color: $nav-color;
    width: 100%;

    
    & h1 {
      font-style: italic;
      margin: 0; 
    }
  }
}

.icons {
  width: 50px;
  height: 50px;
  margin-left: 12px; 
}