
.page-layout {
  display: grid;
  
  grid-template-areas: 
    "nav   nav"
    "sidebar content"
    "sidebar table"
    "footer footer";
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}


app-navbar {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 20px;
}

.main-content {
  grid-area: content;
  padding: 20px;
  background-color: #ffffff;
}